
<div class="container">
  <h5 class="texth1 text-center mt-4" >Your Upcoming Booking</h5>
</div>

<div class="card-trip my-4 mx-auto">
  <%= cl_image_tag("v1583612143/ButlerX/hotel_banner.jpg") %>
  <div class="card-trip-infos py-2 px-3">
    <div>
      <h6> <%= link_to  @bookings[0].hotel.name, guest_booking_path(@bookings[0]), id: "link-hotel-current" %></h6>
      <p id="address"><%= @bookings[0].hotel.address%></p>
      <p id="dates"><%= @bookings[0].check_in %> - <%= @bookings[0].check_out %></p>
    </div>
  </div>
</div>

<div id="card-example" class="card-group">
  <a class="card-group-item text-center card-group-item-action explore texth1 ml-2" href="#card-item-1">My bookings</a>
</div>
<br>
<div data-spy="scroll" data-target="#card-example" data-offset="0" class="scrollspy-example">
  <h4 id="card-item-1"></h4>
  <div class="container boxofcards">
    <% @bookings.each do |booking| %>
    <div class="card-product" id="">
           <%= cl_image_tag booking.hotel.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <h6> <%= link_to  booking.hotel.name, guest_booking_path(booking), id: "link-hotel" %></h6>
        <p id="address"><%= booking.hotel.address%></p>
        <p id="dates"><%= booking.check_in %> - <%= booking.check_out %></p>
      </div>
    </div>
    <% end %>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<%=  render 'shared/floatbuttonplus' %>


<%=  render 'shared/navbar' %>

